<!doctype html>
<style>
body { font-family: sans; margin: 0; padding: 0; }
a { text-decoration: none; }
.head { padding: 1em; background: #bef; }
.main { margin: 1em; }
table, tr, th, td { margin: 0; padding: 0.1em 1em 0.1em 1em; border: 0; border-collapse: collapse; }
th { text-align: left; }
td { text-align: right; }
</style>
<title>{% block title %}{% endblock %}  - semiautocount</title>
<div class="head">
<div style="float: right; color: #fff">
SEMIAUTOCOUNT
</div>
<h1>{{ self.title() }}</h1>

<table><tr>
<td>
<a href="/">Home</a>
</td>

<td>
<form action="/next">
<button>Label cells</button>
</form>
</td>

<td>
<form action="/classify">
<button>Run classifier</button>
</form>
</td>

</tr></table>

</div>
<div class="main">
{% block body %}{% endblock %}
</div>