#extends "base.html"
#block title 

{{dir_name|escape}}

#endblock
#block body 

{% if message %}
<div style="background: #ffb; margin: 1em; padding: 1em;">
{{message}}
</div>
{% endif %}

<form action="/classify">
<button>Run classifier</button>
</form>

<h2>Images</h2>

{% set row_cycler=cycler('#fff','#eee') %}

<table>
<tr style="background: {{ row_cycler.next() }}">
<th></th>
{% for label in labels %}
    <th>{{label|escape}}</th>
{% endfor %}
</tr>

{% for i in range(index|count) %}
    <tr style="background: {{ row_cycler.next() }}">
    <th>
    <a href="/image/{{ loop.index0 }}">{{index[i]|escape}}</a><br>
    </th>
    {% for j in range(labels|count) %}
        <td>{{counts[i][j]}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

#endblock