#extends "base.html"
#block title 

{{dir_name|escape}}

#endblock
#block body 

{% if message %}
<div style="background: #ffb; margin: 1em; padding: 1em;">
{{message}}
</div>
{% endif %}

<h2>Images</h2>

{% set row_cycler=cycler('#fff','#eee') %}

<table>
<tr style="background: {{ row_cycler.next() }}">
<th></th>
{% for label in labels %}
    <th>{{label|escape}}</th>
{% endfor %}
</tr>

{% for i in range(index|count) %}
    <tr style="background: {{ row_cycler.next() }}">
    <th>
    <a href="/image/{{ loop.index0 }}">{{index[i]|escape}}</a><br>
    </th>
    {% for j in range(labels|count) %}
        <td>{{counts[i][j]}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<h2>Instructions</h2>

<p>
Press the "label cells" button and label some cells.
Once you've labelled some cells, press the "run classifier" button to classify the rest.
If the classification is unsatisfactory label more cells.
If the classification is still unsatisfactory, 
ask Paul to add more cell measurements and improve the classification algorithm.

<p>
Hint: You can use the keyboard to apply a label.

<p>

#endblock
